

/* COLORES */

/// (main background)
$very-dark-blue: #090b1a;

///(card background)
$dark-desaturated-blue : #1b1938;

///(accent)
$soft-violet: #aa5cdb;

///(main heading, stats)
$white : #ffffff;

///(main paragraph)
$slightly-transparent-white : rgba(255, 255, 255, 0.749);

///(stat headings)
$slightly-transparent-white: rgba(255, 255, 255, 0.6);

/* FONTS */

$body-size:15px;

$primary-font:'Inter', sans-serif;
$secondary-font: 'Lexend Deca', sans-serif;